q:root{
    --mainWhite: #F3F3F3;
    --mainGreen: rgba(81,198,224,1);
    --transition: all 1s linear;
    --mainDark: #232528;
    --lightGreen: #11f58f;
    --darkGreen: #1fd97f;
    --hotPink: #FF69B4;
    --violet: #EE82EE;
    --whiteSmoke: #F5F5F5;
	
}
.container{
	max-width:100%;
	height:150px;
	position:fixed;
	font-family: 'Oswald', sans-serif;
	color:white;
	z-index:2;
}
.content{
	width:100%;
    height:100%;
    top:120px;
	position: relative;;
	font-family: 'Oswald', sans-serif;
    color:rgb(38, 55, 201);
    background-color: white
}
.text-content{
	width:100%;
	height:100%;
	position:fixed;
	font-family: 'Oswald', sans-serif;
	color:white;
    top:18%;
    left:0px;
    background-color: white;
    padding:10px 20px 20px 20px;
    
}
.card-container{
    width:100%;
    height:100%;
    top:10px;
    left:0px;
	font-family: 'Oswald', sans-serif;
	color:white;
    background-color: white;
    display: flex;
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    top:20px;
    left:0px;
    margin:0;
    background: -webkit-linear-gradient(#d07ae6, rgb(106, 82, 212));
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    font-weight: 900;
     text-shadow: 4px 4px;
    text-decoration: none;
    color:white;
    padding:0;
    text-decoration:none;
    z-index:1;
    float:left;
    position:fixed;
    
  }	
  .nav{
	left:70%;
	position:absolute;
	top:0px;
	z-index:10;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0; 
    }
  
  li {
  display: inline;
  list-style-type: none;
  margin: 10;
  
}
  
  li a {
  font-weight: 200;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  font-size:14px;
  color: #a10ac7;
    
  }
  
  li a:hover {
    color: blue;
    text-decoration: none;
  }
  li:last-child {
    border-right: none;
  }

/* ---- particles.js container ---- */ 

.particle-container{
	height: 100%;
 	width: 100%;
  	position: fixed; 
}

/* ---- typewriter ---- */ 
p {
    color: rgb(71, 15, 24);
    font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	}
.line {
    position: relative;
    border-right: 4px solid rgb(0, 255, 64);
    width: 330px;
    white-space: nowrap;
    overflow: hidden;
}
.typing {
    animation: typewriter 3s steps(25) 1s 1 normal both,
    blinkCursor 0.6s steps(12) infinite normal;
}
    
@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 430px;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: #a10ac7;
    }

    to {
        border-right-color: white;
    }
}







    img {
      position: relative;
      max-width: 100%;
    }
    
    h2{
    font-family: 'Oswald', sans-serif;
        font-size: 30px;
          color:powderblue;
          margin:20px;
    }
        
    .body {
      background-color: rgb(245, 135, 71);
      color:olive;
      padding: 0;
      margin: 0px;
       
    
    }
    
    .page-body {
      background-color: rgb(104, 207, 248);
      background-size: auto;
      color:rgb(227, 241, 21);
      display: fixed;
     
    }
    
    .font-xl{
        font-family: 'Oswald', sans-serif;
        font-size: 20;
          color:rgba(0, 26, 255, 0.603);
          margin:20px;
        }
        
    .font-s{
        font-family: 'Oswald', sans-serif;
        font-size: 20;
          font-weight:100;
          margin:20px;
          color:blue;
        }
    
    .logo{
        top: 10px;
        left:0px;
        position: fixed;
        z-index:10;
    }
    
    .img-fluid {
      @include img-fluid;
    }
    
    
    
    .text.white{
        color: var(--hotPink);
    }
    .text.green{
        color: var(--lightGreen);
        }
        
   
    .content li {
      margin-bottom: 10px;
      color:blueviolet;
    }
    .active {
      color: green;
      }
    .button {
        background: linear-gradient(to right, rgba(103, 251, 162, 0.988), rgba(6, 234, 193, 1));
        width: 100%;
        max-width: 250px;
        height: 48px;
        border-radius: 50px;
        box-shadow:2px 2px 5px 0px rgba(1,0,0,0.2);
        border: solid 0px rgba(17, 17, 17, 0.1);
        color: red;
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        text-align: center;
        padding: 10px 20px; /* Some padding */
          cursor: pointer; /* Pointer/hand icon */
          float: center; 	
    }
    
    .button:hover {
        background-color: #1BB978; 		
        box-shadow:0px 0px 0px 0px rgba(1,0,0,0.2);
    }
    
    .button:focus {
        outline-color: #3ecf8e; 
    }
    
    
    .validation {
        color: #111111;
        font-family: 'Work Sans', sans-serif;
        margin-top: 16px;
        font-weight: 300;
        width: 100%;
        max-width: 352px;
    }
    
    .bottom .validation {
        color: #ffffff;
    }
    
    .validation strong {
        color: #42cf8f;
    }
    
    .validation a {
        font-weight: 700;
    }
    
    .img-responsive{
    width: 40px;
    height: 40px;
    }
    
    .img-respons{
    width: 300px;
    height: 300px;
    }
    
    
    
    .cart-icon{
        cursor:pinter;
        font-size:1.2rem;
        color:var(--mainDark);
    }
    .img{
        border-radius: 50%;
        width:100%;
    }
  
    
    .media{
        flex: 1;
        alignItems: stretch;
        justifyContent: center;
        background-color: brown;
        max-width:100%;
        position:relative;
        top:90px;
    }
    .media-body{
        position: absolute;
        right:0;
        top:0;
        opacity: 0.5;
        z-index: 0;
        max-width:100%;
        background-color: #FF69B4;
    }
  
   
    
    .section {
      max-width: 100%;
      padding: 125px 120px 150px 125px;
      margin: 30 auto;
      display: block;
      top: 0; 
      left: 50%;
      right: 50%;
      bottom: 0;
      font-size:20px;
      background-color: #3ecf8e  
    }
    .body-section{
        width: 100%;
        height:auto;
          padding: 50px 30px 150px 30px;
          margin: 30 auto;
          display: block;
          color:rgb(58, 5, 5); 
          background-color: #a10ac7
    }
    
    