q:root{
    --mainWhite: #F3F3F3;
    --mainGreen: rgba(81,198,224,1);
    --transition: all 1s linear;
    --mainDark: #232528;
    --lightGreen: #11f58f;
    --darkGreen: #1fd97f;
    --hotPink: #FF69B4;
    --violet: #EE82EE;
    --whiteSmoke: #F5F5F5;
	
}
.container{
	max-width:100%;
	height:150px;
	position:fixed;
	font-family: 'Oswald', sans-serif;
	color:red;
	z-index:2;
}
.content{
	width:100%;
    height:100%;
    top:117px;
    left:0px;
	position: relative;
	font-family: 'Oswald', sans-serif;
    color:rgb(38, 55, 201);
    background-color: white
}
.text-content{
	width:100%;
	height:100%;
	position:fixed;
	font-family: 'Oswald', sans-serif;
	color:black;
    top:25%;
    left:0px;
    background-color: white;
    padding:10px 20px 20px 20px;
    
}
.card-container{
    width:100%;
    height:100%;
    top:10px;
    left:0px;
	font-family: 'Oswald', sans-serif;
	color:rgb(7, 7, 7);
    background-color: rgb(15, 42, 194);
    display: flex;
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    top:0px;
    left:20px;
    margin:0;
    background: -webkit-linear-gradient(#d07ae6, rgb(106, 82, 212));
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    font-weight: 900;
    text-shadow: 4px 4px;
    text-decoration: none;
    color:white;
    padding:0;
    text-decoration:none;
    z-index:1;
    float:left;
    position:fixed;
    
  }	
nav{
    left:0%;
	position:absolute;
    top:-5px;
    z-index:10;
    width:100%;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0; 
    width:100%;
    }
  
  li {
    display: inline;
    list-style-type: none;
    margin: 0px;
    text-decoration: none;
    
}
  
  li a {

    font-weight: 200;
    text-decoration: none;
    padding: 0px 20px;
    display: inline-block;
    font-size:14px;
    color: #a10ac7;
    
  }
  
  li a:hover {
    color: blue;
    text-decoration: none;
  }
  li:last-child {
    border-right: none;
  }

/* ---- particles.js container ---- */ 

.particle-container{
	height: 100%;
 	width: 100%;
  	position: fixed; 
}

/* ---- typewriter ---- */ 
p {
    font-family: 'Oswald', sans-serif;
    color: #a10ac7;
	font-size: 14px;
	}
.line {
    position: relative;
    width: 330px;
    white-space: nowrap;
    overflow: hidden;
}
.typing {
    animation: typewriter 3s steps(25) 1s 1 normal both,
    blinkCursor 0.6s steps(12) infinite normal;
}
    
@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 230px;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: #a10ac7;
    }

    to {
        border-right-color: white;
    }
}



h2{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color:#a10ac7;
    margin:20px;
    }
h3{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#a10ac7;
    margin:20px;
    }
        
body {
    background-color: rgb(245, 135, 71);
    color:olive;
    padding: 0;
    margin: 0px;
    }
    
.page-body {
    background-color: rgb(104, 207, 248);
    background-size: auto;
    color:rgb(227, 241, 21);
    display: fixed;
     
    }
    
.font-xl{
    font-family: 'Oswald', sans-serif;
    font-size: 24;
    color:#a10ac7;
    margin:20px;
    }
        
.font-s{
    font-family: 'Oswald', sans-serif;
    font-size: 20;
    font-weight:100;
    margin:20px;
    color:white;
    }
.text.white{
    color: var(--hotPink);
    }
.text.green{
    color: var(--lightGreen);
    }
.content li {
    margin-bottom: 10px;
    color:blue;
    }
.active {
    color: white;
    }
.button {
        background: linear-gradient(to right, rgba(185, 15, 228, 0.988), rgb(38, 5, 43), rgb(0, 0, 0));
        width: 100%;
        max-width: 170px;
        height: 48px;
        border-radius: 50px;
        box-shadow:2px 2px 5px 0px rgba(1,0,0,0.2);
        border: solid 0px rgba(17, 17, 17, 0.1);
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size:14px;
        font-weight: 200;
	    margin-top: 8px;
	    text-align: center;
	    padding: 10px 20px; /* Some padding */
  	    cursor: pointer; /* Pointer/hand icon */
  	    float: center; 
    }
    .button li{
        color: white;
    }
    
    .button :hover {		
        box-shadow:0px 0px 0px 0px rgba(1,0,0,0.2);
        color:white;
    }
    
    .button:focus {
        outline-color: white; 
    }
    
    
    .validation {
        color: #111111;
        font-family: 'Work Sans', sans-serif;
        margin-top: 16px;
        font-weight: 300;
        width: 100%;
        max-width: 352px;
    }
    
    .bottom .validation {
        color: #ffffff;
    }
    
    .validation strong {
        color: #42cf8f;
    }
    
    .validation a {
        font-weight: 700;
    }
    .cart-icon{
        cursor:pinter;
        font-size:1.2rem;
        color:var(--mainDark);
    }
    .img{
        border-radius: 50%;
        width:100%;
    }
  
    
    .media{
        flex: 1;
        alignItems: stretch;
        justifyContent: center;
        background-color: brown;
        max-width:100%;
        position:relative;
        top:90px;
    }
    .media-body{
        position: absolute;
        right:0;
        top:0;
        opacity: 0.5;
        z-index: 0;
        max-width:100%;
        background-color: #FF69B4;
    }
  
   .navbar {
        width: 100% auto;
        position: relative;
        transition: top 0.6s;
        background-color: black;
        left:0;
        top:0%;
      }
      
      .navbar--hidden {
        top: -50px;
      }

      .btn-group  {

        cursor: pointer; /* Pointer/hand icon */
        float: center; /* Float the buttons side by side */
        border-radius:50rem;
        color:white;
      }
      
      .btn-group :not(:last-child) {
        border-right: none; /* Prevent double borders */
      }
      
      /* Add a background color on hover */
      .btn-group:hover {
        background-color: white;  
      }

      .tasks-field{

      }
      .planetary-actions-field{

      }
      

      .wrapper {
        display: flex;  
        flex-flow: row wrap;
        font-weight: bold;
        text-align: left;
      }
      
      .wrapper > * {
        padding: 10px;
        flex: 1 100%;
      }
      
      .header {
        background:  rgb(160, 160, 160);
      }
      
      .footer {
        background:  rgb(160, 160, 160);
      }
      
      .main {
        text-align: left;
        background: rgb(160, 160, 160);
        border-bottom-style: solid;
        border-bottom-color: #111111;
        border-top-style: solid;
        border-top-color: #111111;
      }
      
      .aside-1 {
        background: black;
      }
      
      .aside-2 {
        background:black;
      }
      
      @media all and (min-width: 600px) {
        .aside { flex: 1 0 0; }
      }
      
      @media all and (min-width: 800px) {
        .main    { flex: 3 0px; }
        .aside-1 { order: 1; } 
        .main    { order: 2; }
        .aside-2 { order: 3; }
        .footer  { order: 4; }
      }
      
      body {
        padding: 2em; 
      }
    
      
      